/* app/globals.css */

@import "tailwindcss";

/* @theme {
  --color-primary: "#1C8EC4";
} */

@theme {
  --color-primary: #1c8ec4;
  --color-secondary: #adcf56;
  --color-navy: #131736;
  --color-accent: #2c406e;
  --font-heading: "Inter Bold, Roboto Bold";
  --font-body: "Inter Regular, Roboto Regular";
}
